@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap'); // font Antonymous Pro

// variables
$primary: #1d1b4a;
$secondary: #2c698d;
$accent-dark: #bae8e8;
$accent-medium: #e3f6f5;
$accent-light: #ffffff;

// styling 
html {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Anonymous Pro', monospace;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    padding: 2% 5%;
    overflow-x: hidden;
    // background-color: #272643;
    // background-color: #1d1b4a;
    background-color: $primary;
    color: $accent-light;
}

// Nav Bar
nav {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    ul {
        display: flex;
        align-items: center;
        gap: 50px;

        li {
            list-style: none;
            font-size: 1.25rem;

            button {
                font-size: 1.25rem;
                padding: 5px 15px;
                background-color: $secondary;
                color: $accent-light;
                border: none;
                box-shadow: 3px 3px $accent-dark;
            }
        }
    }
}

// Intro
#intro {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 10%;
    gap: 10px;
    p {
        font-size: 4vh;
        color: $accent-dark;
    }
    h1 {
        font-size: 10vh;
    }
    h3 {
        font-size: 6vh;
        color: $accent-dark;
    }
}

// About
#about {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 10%;
    gap: 25px;
    .left {
        flex: 1;
        p {
            font-size: 2.5vh;
            a {
                color: $accent-light;
            }
        }
    }
    .right {
        flex: 1;
        display: flex;
        justify-content: center;
        img {
            border-radius: 4px;
            width: 250px;
        }
    }
}

// Projects
#projects {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
    .heading {
        padding: 0px 10%;
    }
    .project {
        height: 20%;
        display: flex;
        align-items: center;
        .left {
            flex: 1;
            display: flex;
            justify-content: center;
            img {
                height: 100px;
            }
        }
        .description {
            flex: 2
        }
    }
}

// Experience
#experience {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
    .entry {
        padding: 0px 10%;
        display: flex;
        .left {
            flex: 1;
        }
        .right {
            flex: 2;
        }
    }
}

// Contact
#contact {
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 100px;
    .right {
        display: flex;
        flex-direction: column;
        a {
            color: $accent-dark;
        }
    }
}

.border {
    border: 2px solid red;
}